border-1px($color)
  position: relative
  &:after
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    border-top: 1px solid $color
    content: ' '

tri-2px($color)
  position relative
  &:after 
    content ''
    display inline-block
    height .25rem
    width .25rem
    border-width 2px 2px 0 0
    border-color $color
    border-style solid
    transform rotate(45deg)
    position absolute
    right .3rem
    top 0.45rem

border-none()
  &:after
    display: none

bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")